gitb-types-specs/src/main/resources/schema/gitb_tdl.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xsd:schema xmlns="http://www.gitb.com/tdl/v1/" xmlns:tdl="http://www.gitb.com/tdl/v1/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gitb="http://www.gitb.com/core/v1/" targetNamespace="http://www.gitb.com/tdl/v1/" elementFormDefault="qualified" version="1.0">
	<xsd:import namespace="http://www.gitb.com/core/v1/" schemaLocation="gitb_core.xsd"/>
	<xsd:element name="testcase" type="TestCase"/>
	<xsd:element name="testsuite" type="TestSuite">
		<xsd:key name="TestCaseGroupKey">
			<xsd:selector xpath="./tdl:groups/tdl:group"/>
			<xsd:field xpath="@id"/>
		</xsd:key>
		<xsd:keyref name="TestCaseGroupKeyRef" refer="TestCaseGroupKey">
			<xsd:selector xpath="./tdl:testcase"/>
			<xsd:field xpath="@group"/>
		</xsd:keyref>
	</xsd:element>
	<xsd:element name="scriptlet" type="Scriptlet"/>
	<xsd:complexType name="TestSuite">
		<xsd:sequence>
			<xsd:element name="metadata" type="gitb:Metadata"/>
			<xsd:element name="actors" type="gitb:Actors" minOccurs="0"/>
			<xsd:element name="groups" type="TestCaseGroups" minOccurs="0"/>
			<xsd:element name="testcase" type="TestCaseEntry" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="TestCaseEntry">
		<xsd:sequence>
			<xsd:element name="prequisite" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="option" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
		<xsd:attribute name="group" type="xsd:string"/>
	</xsd:complexType>
	<xsd:complexType name="TestCaseGroups">
		<xsd:sequence>
			<xsd:element name="group" type="TestCaseGroup" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TestCaseGroup">
		<xsd:sequence>
			<xsd:element name="name" type="xsd:string" minOccurs="0"/>
			<xsd:element name="desc" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="TestCase">
		<xsd:all>
			<xsd:element name="metadata" type="gitb:Metadata"/>
			<xsd:element name="namespaces" type="Namespaces" minOccurs="0"/>
			<xsd:element name="imports" type="Imports" minOccurs="0"/>
			<xsd:element name="preliminary" type="UserInteraction" minOccurs="0"/>
			<xsd:element name="variables" type="Variables" minOccurs="0"/>
			<xsd:element name="actors" type="gitb:Roles"/>
			<xsd:element name="steps" type="TestCaseSteps"/>
			<xsd:element name="output" type="Output" minOccurs="0"/>
			<xsd:element name="scriptlets" type="Scriptlets" minOccurs="0"/>
		</xsd:all>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
		<xsd:attribute name="supportsParallelExecution" type="xsd:boolean" default="true"/>
		<xsd:attribute name="optional" type="xsd:boolean" default="false"/>
		<xsd:attribute name="disabled" type="xsd:boolean" default="false"/>
	</xsd:complexType>
	<xsd:complexType name="Namespaces">
		<xsd:sequence>
			<xsd:element name="ns" type="Namespace" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Namespace">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="prefix" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Imports">
		<xsd:sequence>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element name="artifact" type="TestArtifact"/>
				<xsd:element name="module" type="TestModule"/>
			</xsd:choice>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TestArtifact">
		<xsd:simpleContent>
			<xsd:extension base="gitb:StringOrVariable">
				<xsd:attribute name="name" type="xsd:string" use="required"/>
				<xsd:attribute name="type" type="xsd:string" default="binary"/>
				<xsd:attribute name="encoding" type="xsd:string"/>
				<xsd:attribute name="from" type="xsd:string"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="TestModule">
		<xsd:sequence>
			<xsd:element name="config" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="uri" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="InputParameters">
		<xsd:sequence>
			<xsd:element name="var" type="InputParameter" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Variables">
		<xsd:sequence>
			<xsd:element name="var" type="Variable" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InputParameter">
		<xsd:complexContent>
			<xsd:extension base="Variable">
				<xsd:attribute name="optional" type="xsd:boolean" default="false"/>
				<xsd:attribute name="defaultEmpty" type="xsd:boolean" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Variable">
		<xsd:sequence>
			<xsd:element name="value" type="NamedTypedString" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="type" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="Scriptlets">
		<xsd:sequence>
			<xsd:element name="scriptlet" type="Scriptlet" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Scriptlet">
		<xsd:sequence>
			<xsd:element name="metadata" type="gitb:Metadata" minOccurs="0"/>
			<xsd:element name="namespaces" type="Namespaces" minOccurs="0"/>
			<xsd:element name="imports" type="Imports" minOccurs="0"/>
			<xsd:element name="params" type="InputParameters" minOccurs="0"/>
			<xsd:element name="variables" type="Variables" minOccurs="0"/>
			<xsd:element name="steps" type="Sequence"/>
			<xsd:element name="output" type="Binding" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="id" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="TestCaseSteps">
		<xsd:complexContent>
			<xsd:extension base="Sequence">
				<xsd:attribute name="logLevel" type="LogLevelOrVariable" default="INFO"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Sequence">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:choice maxOccurs="unbounded">
						<!-- Messaging Test Steps Constructs -->
						<xsd:element name="send" type="Send"/>
						<xsd:element name="receive" type="Receive"/>
						<xsd:element name="listen" type="Listen"/>
						<xsd:element name="btxn" type="BeginTransaction"/>
						<xsd:element name="etxn" type="EndTransaction"/>
						<!-- Flow constructs -->
						<xsd:element name="if" type="IfStep"/>
						<xsd:element name="while" type="WhileStep"/>
						<xsd:element name="repuntil" type="RepeatUntilStep"/>
						<xsd:element name="foreach" type="ForEachStep"/>
						<xsd:element name="flow" type="FlowStep"/>
						<xsd:element name="exit" type="ExitStep"/>
						<!--Testing & Supplementary constructs -->
						<xsd:element name="assign" type="Assign"/>
						<xsd:element name="log" type="Log"/>
						<xsd:element name="group" type="Group"/>
						<xsd:element name="verify" type="Verify"/>
						<xsd:element name="call" type="CallStep"/>
						<xsd:element name="interact" type="UserInteraction"/>
						<!--Processing constructs -->
						<xsd:element name="process" type="Process"/>
						<xsd:element name="bptxn" type="BeginProcessingTransaction"/>
						<xsd:element name="eptxn" type="EndProcessingTransaction"/>
					</xsd:choice>
				</xsd:sequence>
				<xsd:attribute name="stopOnChildError" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TestConstruct">
		<xsd:attribute name="id" type="xsd:string"/>
		<xsd:attribute name="stopOnError" type="xsd:boolean"/>
		<xsd:attribute name="skipped" type="gitb:BooleanOrVariable"/>
	</xsd:complexType>
	<xsd:complexType name="TestStep">
		<xsd:complexContent>
			<xsd:extension base="TestConstruct">
				<xsd:sequence>
					<xsd:element name="documentation" type="gitb:Documentation" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="desc" type="gitb:StringOrVariable"/>
				<xsd:attribute name="hidden" type="gitb:BooleanOrVariable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MessagingStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="property" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="config" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="input" type="Binding" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="from" type="gitb:StringOrVariable"/>
				<xsd:attribute name="to" type="gitb:StringOrVariable"/>
				<xsd:attribute name="txnId" type="xsd:string"/>
				<xsd:attribute name="handler" type="gitb:StringOrVariable"/>
				<xsd:attribute name="reply" type="gitb:BooleanOrVariable" default="false"/>
				<xsd:attribute name="level" type="ErrorLevelOrVariable" default="ERROR"/>
				<xsd:attribute name="invert" type="xsd:boolean" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Send">
		<xsd:complexContent>
			<xsd:extension base="MessagingStep"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReceiveOrListen">
		<xsd:complexContent>
			<xsd:extension base="MessagingStep">
				<xsd:sequence>
					<xsd:element name="output" type="Binding" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="timeout" type="gitb:NumberOrVariable"/>
				<xsd:attribute name="timeoutFlag" type="gitb:StringOrVariable"/>
				<xsd:attribute name="timeoutIsError" type="gitb:BooleanOrVariable" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Receive">
		<xsd:complexContent>
			<xsd:extension base="ReceiveOrListen"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Listen">
		<xsd:complexContent>
			<xsd:extension base="ReceiveOrListen"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BeginTransaction">
		<xsd:complexContent>
			<xsd:extension base="TestConstruct">
				<xsd:sequence>
					<xsd:element name="property" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="config" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="from" type="gitb:StringOrVariable" use="required"/>
				<xsd:attribute name="to" type="gitb:StringOrVariable" use="required"/>
				<xsd:attribute name="txnId" type="xsd:string" use="required"/>
				<xsd:attribute name="handler" type="gitb:StringOrVariable" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EndTransaction">
		<xsd:complexContent>
			<xsd:extension base="TestConstruct">
				<xsd:attribute name="txnId" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="IfStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="cond" type="Expression"/>
					<xsd:element name="then" type="Sequence"/>
					<xsd:element name="else" type="Sequence" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="title" type="gitb:StringOrVariable" default="decision"/>
				<xsd:attribute name="collapsed" type="xsd:boolean" default="false"/>
				<xsd:attribute name="static" type="xsd:boolean" default="false"/>
				<xsd:attribute name="stopOnChildError" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="WhileStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="cond" type="Expression"/>
					<xsd:element name="do" type="Sequence"/>
				</xsd:sequence>
				<xsd:attribute name="title" type="gitb:StringOrVariable" default="loop"/>
				<xsd:attribute name="collapsed" type="xsd:boolean" default="false"/>
				<xsd:attribute name="stopOnChildError" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RepeatUntilStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="do" type="Sequence"/>
					<xsd:element name="cond" type="Expression"/>
				</xsd:sequence>
				<xsd:attribute name="title" type="gitb:StringOrVariable" default="loop"/>
				<xsd:attribute name="collapsed" type="xsd:boolean" default="false"/>
				<xsd:attribute name="stopOnChildError" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ForEachStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="do" type="Sequence"/>
				</xsd:sequence>
				<xsd:attribute name="counter" type="xsd:string" default="i"/>
				<xsd:attribute name="start" type="gitb:NumberOrVariable" default="0"/>
				<xsd:attribute name="end" type="gitb:NumberOrVariable" use="required"/>
				<xsd:attribute name="title" type="gitb:StringOrVariable" default="loop"/>
				<xsd:attribute name="collapsed" type="xsd:boolean" default="false"/>
				<xsd:attribute name="stopOnChildError" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ExitStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:attribute name="success" type="gitb:BooleanOrVariable" default="false"/>
				<xsd:attribute name="undefined" type="gitb:BooleanOrVariable" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FlowStep">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="thread" type="Sequence" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="title" type="gitb:StringOrVariable" default="flow"/>
				<xsd:attribute name="collapsed" type="xsd:boolean" default="false"/>
				<xsd:attribute name="stopOnChildError" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Assign">
		<xsd:complexContent>
			<xsd:extension base="Expression">
				<xsd:attribute name="to" type="xsd:string" use="required"/>
				<xsd:attribute name="append" type="xsd:boolean" default="false"/>
				<xsd:attribute name="type" type="xsd:string" />
				<xsd:attribute name="skipped" type="gitb:BooleanOrVariable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Log">
		<xsd:complexContent>
			<xsd:extension base="Expression">
				<xsd:attribute name="level" type="LogLevelOrVariable" default="INFO"/>
				<xsd:attribute name="skipped" type="gitb:BooleanOrVariable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Group">
		<xsd:complexContent>
			<xsd:extension base="Sequence">
				<xsd:attribute name="title" type="gitb:StringOrVariable" default="group"/>
				<xsd:attribute name="collapsed" type="xsd:boolean" default="false"/>
				<xsd:attribute name="hiddenContainer" type="gitb:BooleanOrVariable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Verify">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="property" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="config" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="input" type="Binding" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="handler" type="gitb:StringOrVariable" use="required"/>
				<xsd:attribute name="level" type="ErrorLevelOrVariable" default="ERROR"/>
				<xsd:attribute name="output" type="xsd:string"/>
				<xsd:attribute name="invert" type="xsd:boolean" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CallStep">
		<xsd:complexContent>
			<xsd:extension base="TestConstruct">
				<xsd:sequence>
					<xsd:element name="input" type="Binding" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="output" type="Binding" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="from" type="xsd:string"/>
				<xsd:attribute name="path" type="xsd:string" use="required"/>
				<xsd:attribute name="input" type="gitb:StringOrVariable"/>
				<xsd:attribute name="output" type="xsd:string"/>
				<xsd:attribute name="hidden" type="gitb:BooleanOrVariable"/>
				<xsd:attribute name="stopOnChildError" type="xsd:boolean"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UserInteraction">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:choice maxOccurs="unbounded">
						<xsd:element name="instruct" type="Instruction"/>
						<xsd:element name="request" type="UserRequest"/>
					</xsd:choice>
					<xsd:element name="handlerConfig" type="HandlerConfiguration" minOccurs="0"/>
				</xsd:sequence>
				<xsd:attribute name="with" type="xsd:string"/>
				<xsd:attribute name="title" type="gitb:StringOrVariable" default="interact"/>
                <xsd:attribute name="inputTitle" type="gitb:StringOrVariable"/>
				<xsd:attribute name="collapsed" type="xsd:boolean" default="false"/>
				<xsd:attribute name="admin" type="xsd:boolean" default="false"/>
				<xsd:attribute name="timeout" type="gitb:NumberOrVariable"/>
				<xsd:attribute name="blocking" type="gitb:BooleanOrVariable" default="true"/>
				<xsd:attribute name="handlerEnabled" type="gitb:BooleanOrVariable" default="false"/>
				<xsd:attribute name="handler" type="gitb:StringOrVariable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="HandlerConfiguration">
		<xsd:sequence>
			<xsd:element name="property" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="input" type="Binding" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="BeginProcessingTransaction">
		<xsd:complexContent>
			<xsd:extension base="TestConstruct">
				<xsd:sequence>
					<xsd:element name="property" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="config" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="txnId" type="xsd:string" use="required"/>
				<xsd:attribute name="handler" type="gitb:StringOrVariable" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EndProcessingTransaction">
		<xsd:complexContent>
			<xsd:extension base="TestConstruct">
				<xsd:attribute name="txnId" type="xsd:string" use="required"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Process">
		<xsd:complexContent>
			<xsd:extension base="TestStep">
				<xsd:sequence>
					<xsd:element name="property" type="gitb:Configuration" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="operation" type="xsd:string" minOccurs="0"/>
					<xsd:element name="input" type="Binding" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
				<xsd:attribute name="txnId" type="xsd:string"/>
				<xsd:attribute name="handler" type="gitb:StringOrVariable"/>
				<xsd:attribute name="operation" type="xsd:string"/>
				<xsd:attribute name="input" type="gitb:StringOrVariable"/>
				<xsd:attribute name="output" type="xsd:string"/>
				<xsd:attribute name="level" type="ErrorLevelOrVariable" default="ERROR"/>
				<xsd:attribute name="invert" type="xsd:boolean" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Instruction">
		<xsd:complexContent>
			<xsd:extension base="InstructionOrRequest">
				<xsd:attribute name="forceDisplay" type="xsd:boolean" default="false"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UserRequest">
		<xsd:complexContent>
			<xsd:extension base="InstructionOrRequest">
				<xsd:attribute name="options" type="gitb:StringOrVariable"/>
				<xsd:attribute name="optionLabels" type="gitb:StringOrVariable"/>
				<xsd:attribute name="multiple" type="gitb:BooleanOrVariable"/>
				<xsd:attribute name="inputType" type="gitb:InputRequestInputType"/>
				<xsd:attribute name="report" type="xsd:boolean" default="true"/>
				<xsd:attribute name="fileName" type="gitb:StringOrVariable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InstructionOrRequest" abstract="true">
		<xsd:complexContent>
			<xsd:extension base="TypedBinding">
				<xsd:attribute name="desc" type="gitb:StringOrVariable" use="required"/>
				<xsd:attribute name="with" type="xsd:string"/>
				<xsd:attribute name="contentType" type="gitb:ValueEmbeddingEnumeration"/>
				<xsd:attribute name="encoding" type="xsd:string"/>
				<xsd:attribute name="mimeType" type="gitb:StringOrVariable"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="Expression">
		<xsd:simpleContent>
			<xsd:extension base="xsd:string">
				<xsd:attribute name="lang" type="xsd:string"/>
				<xsd:attribute name="source" type="xsd:string"/>
				<xsd:attribute name="asTemplate" type="xsd:boolean" default="false"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="Binding">
		<xsd:complexContent>
			<xsd:extension base="Expression">
				<xsd:attribute name="name" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
    <xsd:complexType name="NamedTypedString">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string"/>
                <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
	<xsd:complexType name="TypedBinding">
		<xsd:complexContent>
			<xsd:extension base="Binding">
				<xsd:attribute name="type" type="xsd:string"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TestModuleTypes">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="MESSAGING"/>
			<xsd:enumeration value="VALIDATION"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ErrorLevel">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ERROR"/>
			<xsd:enumeration value="WARNING"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LogLevel">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ERROR"/>
			<xsd:enumeration value="WARNING"/>
			<xsd:enumeration value="INFO"/>
			<xsd:enumeration value="DEBUG"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ErrorLevelOrVariable">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="($[a-zA-Z][a-zA-Z\-_0-9]*(\{[${}a-zA-Z\-._0-9]*\})?)|ERROR|WARNING"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LogLevelOrVariable">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="($[a-zA-Z][a-zA-Z\-_0-9]*(\{[${}a-zA-Z\-._0-9]*\})?)|ERROR|WARNING|INFO|DEBUG"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Output">
		<xsd:sequence>
			<xsd:element name="success" type="OutputCaseSet" minOccurs="0"/>
			<xsd:element name="failure" type="OutputCaseSet" minOccurs="0"/>
			<xsd:element name="undefined" type="OutputCaseSet" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="OutputCaseSet">
		<xsd:sequence>
			<xsd:element name="case" type="OutputCase" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="default" type="Expression" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="match" type="OutputMessageMatchApproach"/>
	</xsd:complexType>
	<xsd:complexType name="OutputCase">
		<xsd:sequence>
			<xsd:element name="cond" type="Expression"/>
			<xsd:element name="message" type="Expression"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="OutputMessageMatchApproach">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="first"/>
			<xsd:enumeration value="all"/>
			<xsd:enumeration value="cascade"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
